/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

html, body {
  height:100%;
  margin:0;
  background-image: linear-gradient(rgb(97, 202, 254) 50%,rgb(81, 189, 89) 50%);
  overflow: hidden;
}

:root {
  --size: 4em;
}
#logoContainer {
  width: 100%;
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.logo {
  width: 50%;
  max-width: 20em;
  z-index: 1;
}

/***********/
/* BUTTON - GENERAL */
/***********/
button:not([disabled]) {
  cursor:pointer;
}

button {
  background:none;
  border:none;
  outline:none;
  z-index: 1;
}

/***********/
/* EEVEE */
/***********/
.eevee {
  width: 14em;
  height: 12em;
  position: absolute;
  top: 25em;
  z-index: 2;

  animation-name: eevee;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* ANIMATIE EEVEE */
@keyframes eevee {
  0% {transform: translatex(-18em)}
  100% {transform:translatex(calc(100vw + 14em))}
}

/************/
/* BUTTONS */
/************/

/* THUNDERSTONE - BUTTON */
img.ThunderstoneEvolve {
	content: url("../images/jolteon.png");
}

.thunderstone{
  width: 100%;
}

button:nth-of-type(1){
  width:var(--size);
  height: 3em;
  left: 15em;
  bottom: 17em;
  position: absolute;
}

.thunderstone:hover{
  filter: 
    drop-shadow(0 0 0.125em dodgerblue)
    drop-shadow(0 0 0.25em dodgerblue)
    drop-shadow(0 0 0.5em dodgerblue)
    drop-shadow(0 0 0.75em gold);
  z-index: 3;
}

/* WATERSTONE - BUTTON */
img.WaterstoneEvolve {
	content: url("../images/vaporeon.png");
}

.waterstone {
  width:100%;
}

button:nth-of-type(2){
  width:var(--size);
  height:3em;
  bottom:12em;
  left:25em;
  position: absolute;
}

.waterstone:hover {
  filter: 
    drop-shadow(0 0 0.15em hsl(240, 75%, 60%))
    drop-shadow(0 0 0.2em hsl(240, 75%, 70%))
    drop-shadow(0 0 0.5em hsl(240, 75%, 90%))
    drop-shadow(0 0 0.5em hsl(180, 80%, 60%));
}

/* FIRESTONE - BUTTON */
img.FirestoneEvolve {
	content: url("../images/flareon.png");
}

.firestone {
  width:100%;
}

button:nth-of-type(3) {
  width:var(--size);
  height:3em;
  bottom:14em;
  right:10em;
  position: absolute;
}

.firestone:hover {
  filter: 
    drop-shadow(0 0 0.15em hsl(20, 95%, 45%))
    drop-shadow(0 0 0.2em hsl(20, 95%, 55%))
    drop-shadow(0 0 0.5em hsl(20, 95%, 70%))
    drop-shadow(0 0 0.5em hsl(50, 90%, 50%));
}

/*****************/
/* BACKGROUND ELEMENTS */
/*****************/

/* ROAD */
.road {
  width: 100em;
  height: 7em;
  top: 30em;
  position: absolute;
  background-color: hsl(45 100% 35%);
}

/* BUSHES */
.bush1 {
  width: 13em;
  height: 9em;
  top: 18em;
  left: 2em;
  position: absolute;
  z-index: 2;
}

/* CLOUDS */
.cloud1 {
  width: 20em;
  height: 6em;
  background: rgb(255 255 255);
  border-radius: 25em;
  position: absolute;
  top: 11em;
  left: -25em;
  animation-name: cloud1;
  animation-duration: 300s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: -150s;
  opacity: .9;
}
.cloud1:before {
  content: "";
  position: absolute;
  top: -5em;
  box-sizing: border-box;
  height: 10em;
  width: 10em;
  left: 4em;
  border-radius: 50%;
  background: rgb(255 255 255);
}
.cloud1:after {
  content: "";
  position: absolute;
  height: 14em;
  width: 14em;
  top: -8em;
  left: 11em;
  border-radius: 50%;
  box-sizing: border-box;
  background: rgb(255, 255, 255);
}

/* CLOUD ANIMATION */
@keyframes cloud1 {
  0% {transform: translatex(0em)}
  100% {transform: translatex(calc(100vw + 25em))}
}

.cloud2 {
  width: 20em;
  height: 6em;
  background: rgb(255, 255, 255);
  border-radius: 25em;
  position: absolute;
  top: 9em;
  left: -25em;
  opacity: .9;

  animation-name: cloud1;
  animation-duration: 300s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: -300s;
}

.cloud2:before {
  content: "";
  position: absolute;
  top: -5em;
  box-sizing: border-box;
  height: 10em;
  width: 10em;
  left: 4em;
  border-radius: 50%;
  background: rgb(255, 255, 255);
}

.cloud2:after {
  content: "";
  position: absolute;
  height: 14em;
  width: 14em;
  top: -8em;
  left: 11em;
  border-radius: 50%;
  box-sizing: border-box;
  background: rgb(255, 255, 255);
}

/* SUN */
.suncore {
  width: 7em;
  height: 7em;
  position: absolute;
  top: 2em;
  left: 8em;
  background: hsl(45, 100%, 60%);
  border-radius: 50%
}

.sunrays {
  background: rgb(241, 148, 0);
  top: 2.5em;
  left: 8.5em;
  width: 6em;
  height: 6em;
  position: absolute;

  animation-name: sunrays;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.sunrays:before {
  content: "";
  background: rgb(241, 148, 0);
  top: 0em;
  left: 0em;
  width: 6em;
  height: 6em;
  position: absolute;
  transform: rotate(45deg);
}

/* SUN ANIMATION */
@keyframes sunrays {
  0% {transform: rotate(0)}
  100% {transform: rotate(180deg)}
}